[package]
name = "jotdown"
description = "A parser for the Djot markup language"
authors = ["Noah Hellman <noah@hllmn.net>"]
version = "0.3.2"
license = "MIT"
edition = "2021"
keywords = ["djot", "markup"]
categories = ["parser-implementations"]
homepage = "https://hllmn.net/projects/jotdown"
repository = "https://github.com/hellux/jotdown"
documentation = "https://docs.rs/jotdown"
exclude = [
    "contrib",
    ".github",
    ".gitmodules",
    "Makefile",
    "bench",
    "modules",
    "tests",
]

[workspace]
members = [
    "bench/criterion",
    "bench/iai",
    "bench/input",
    "examples/jotdown_wasm",
    "tests/html-ref",
    "tests/html-ut",
]
exclude = [
    "tests/afl",
]

[[bin]]
name = "jotdown"
required-features = ["html"]
doc = false

[features]
default = ["html"]
html = [] # html renderer and minimal cli binary
deterministic = [] # for stable fuzzing

[profile.release]
lto = true
